<h1> Hello {{full_name_surname}}, Thank You for Applying </h1>
<h2> You can view your application using the link below </h2>

<a href="https://e-and-e-postgraduate-system.firebaseapp.com/application/{{uuid}}"> <h3> View Your Application Here </h3>  </a>
