<h1> Hello You have been selected as a examiner </h1>
<h2> You can view your examination portal using the link below </h2>

<a href="https://e-and-e-postgraduate-system.firebaseapp.com/examiner-portal/{{examinationId}}/{{examinerId}}"> <h3> Examiner Portal </h3>  </a>
